/* Universal Styles */

@font-face {
    font-family: 'WebPageFont';
    src: url('fonts/ABeeZee-Regular.ttf') format('truetype'),
        url('fonts/ABeeZee-Italic.ttf') format('truetype');
}

* {
    font-family: 'WebPageFont';
}

html {
    background-color: #FDFFAB;
    text-align: center;
    font-family: 'WebPageFont';
    font-size: 16px;
}

/* Body */

body {
    margin: 30px;
    /*display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;*/
}

header {
    font-size: 2rem;
    background-color: #D9EDBF;
    display: flex;
    width: 550px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 90px;
    flex-shrink: 1;
}

h1 {
    flex-shrink: 1;
    flex-grow: 1;
}

div {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    width: 700px;
    flex-shrink: 1;
}

.generate-sentence {
    background-color: #FFB996;
    height: 200px;
}

.create-your-own {
    background-color: #FFCF81;
    height: 350px;
}

h2 {
    font-size: 1.6rem;
}

form {
    line-height: 35px;
}

form > label {
    font-size: 1.4rem;
}

form > input {
    font-size: 1rem;
}

button {
    font-size: 1.2rem;
}

img {
   height: auto;
   max-width: 90%;
}

/* Media Queries */

/* Mobile Phone - Portrait and Landscape */
@media only screen and (max-width: 767px) {
    header {
        font-size: 1rem;
        width: 90%;
    }
    div {
        width: 90%;
    }
    h2 {
        font-size: 1rem;
    }
    form > label {
        font-size: 0.8rem;
    }
    
    form > input {
        font-size: 0.8rem;
    }
    
    button {
        font-size: 0.8rem;
    }
}

/* iPads or Tablets - Portrait and Landscape */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    header {
        font-size: 1.5rem;
        width: 90%;
    }
    div {
        width: 90%;
    }
    h2 {
        font-size: 1.3rem;
    }
    form > label {
        font-size: 1.1rem;
    }
    
    form > input {
        font-size: 0.8rem;
    }
    
    button {
        font-size: 0.9rem;
    }
}
